main {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: row;
}

section{
    width: calc(100% - 250px);
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.section-title-container{
    width: 100%;
    padding: 1em 0em 1em 0em;
}

.section-title{
    font-size: 4em;
    font-weight: bold;
    border-bottom: 1px solid #59A52C;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

/* media queries */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 577px) and (max-width: 767px) {

}

@media screen and (max-width: 576px) {

}