main{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo{
    width: 60%;
}

.img-loginwallpaper {
    width: 100%;
}

section{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login
{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form-login-input-container{
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    text-align: center;
}

/* media queries */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    main, section{
        width: 50%;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    .container{
        flex-direction: column;
    }

    main, section{
        width: 100%;
    }

    main{
        height: 30%;
    }

    section{
        height: 70%;
    }
}

@media screen and (max-width: 576px) {
    .container{
        flex-direction: column;
    }

    main, section{
        width: 100%;
    }

    main{
        height: 30%;
    }

    section{
        height: 70%;
    }
}
