*{
    font-size: 12pt;
    font-family: Roboto, Arial, Helvetica, sans-serif !important;
}



/* colors */
.bg-white{
    background-color: #FFFFFF;
}

.color-white{
    color: #FFFFFF;
}

.bg-green{
    background-color: #59A52C;
}

.color-green{
    color: #59A52C;
}

.bg-lightgreen{
    background-color: #6FCA3A;
}

.color-lightgreen{
    color: #6FCA3A;
}

.bg-darkgray{
    background-color: #161B28;
}

.color-darkgray{
    color: #161B28;
}

.bg-gray{
    background-color: #283149;
}

.color-gray{
    color: #283149;
}

.bg-lightgray{
    background-color: #3A476A;
}

.color-lightgray{
    color: #3A476A;
}



/* width */
.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}



/* align */
.container {
    width: 100vw;
    height: 100vh;
}

.container-row {
    display: flex;
    flex-direction: row;
}



/* shadow */
.bg-shadow-left {
    -webkit-box-shadow: -15px 0px 25px 0px #161B28;
    -moz-box-shadow: -15px 0px 25px 0px #161B28;
    box-shadow: -15px 0px 25px 0px #161B28;
}



/* form */
.form-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-size: 3em;
    font-weight: bold;
    margin: 0.5em 0;
}


.form-item {
    padding: 1em 0.2em;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-item-left{
    justify-content: flex-start;
}

.input-text {
    height: 2em;
    padding: 0 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 1.2em;
    border: none;
}

.input-border {
    border: 1px solid;
}

.input-checkbox {
    height: 1em;
    width: 1em;
    box-sizing: border-box;
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

.input-label {
    font-weight: bold;
    font-size: 1em;
}



/* buttons */
.button {
    padding: 0.5em;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.2rem;
}

.button-primary {
    background: #59A52C;
    color: #FFF;
}

.button-primary:hover {
    background-color: #6FCA3A;
}

.button-secondary {
    background: #3A476A;
    color: #FFF;
}

.button-secondary:hover {
    background: #44537a;
}

.button-danger {
    background: #FF0000;
    color: #FFF;
}

.button-danger:hover {
    background: #c70000;;
}

.button-dark {
    background-color: #2E2E2E;
    color: #FFF;
}

.button-dark:hover {
    background-color: #212121;
}

/* alert */
.alert{
    padding: 1em;
    border: 0.3em solid;
    border-radius: 0.4em;
}

.alert-title {
    font-weight: bold;
    padding: 0.5em 0;
}

.alert-text {
    text-align: justify;
    padding: 0.5em 0;
}


.alert-danger{
    background: #ff5555;
    color: #880000;
    border-color: #880000;
}

.header {
    width: 100vw;
    background: #283149;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1em;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

.header-img-logo {
    height: 70%;
}

.button-logout-container {
    padding: 1em;
}



/* vertical nav */
.nav {
    width: 250px;
    /*height: 100%;*/
    max-height: 100vmax;
    padding-top: 30px;
    background: #3A476A;
    box-sizing: border-box;
    -webkit-box-shadow: 10px -7px 66px -40px rgb(0, 0, 0);
    -moz-box-shadow: 10px -7px 66px -40px rgb(0, 0, 0);
    box-shadow: 10px -7px 66px -40px rgb(0, 0, 0);
}

.nav-item {
    padding: 1em;
}

.nav-item-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link {
    font-size: 1.2em;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-link-active {
    font-weight: bold;
}

.nav-link:hover {
    color: #bbbbbb;
}


#iconHamburger {
    display: none;
}



/* navcard */
.navcard {
    cursor: pointer;
    width: 420px;
    height: 220px;
    margin-right: 2em;
    margin-bottom: 2em;
    border-radius: 0.5em;
    background-color: #59A52C;
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 1);
}

.navcard-a {
    display: block;
    padding: 1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

.navcard:hover {
    background-color: #6bc437;
}

.navcard-title-container {
    display: flex;
    flex-direction: row;
}

.navcard-title {
    font-weight: bold;
    padding: 0.5em;
    font-size: 1.5em;
}

.navcard-text {
    padding: 0.5em;
}



/* icons */
.icon {
    width: 40px;
}

.icon-small {
    width: 24px;
}

.icon-clicable {
    cursor: pointer;
}



/* transform */
.rotate-180 {
    transform: rotate(180deg);
}



/* logged user pages */
.user-main {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: row;
}

.user-section {
    width: calc(100% - 250px);
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.user-section-title-container {
    width: 100%;
    padding: 1em 0em 0em 0em;
    margin: 0 0 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #59A52C;
}

.user-section-title-container > * {
    padding-bottom: 1.5rem;
}

.user-section-title {
    font-size: 3em;
    font-weight: bold;
}



/* filters panel */
.filters-panel-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.filters-panel-item {
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.input-text-label {
    font-size: 1em;
}

.filters-panel-item input, select {
    margin-left: 20px;
    min-width: 200px;
}



/* action buttons */
.action-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    flex-wrap: wrap;
    padding-top: 1.5rem;
}

.action-buttons-container > * {
    padding-bottom: 1.5rem;
}

.action-buttons-item {
    margin-left: 10px;
}

.action-buttons-item button {
    width: 150px;
}



/* data grid */
/*  */
.data-grid-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.data-grid-head {
    overflow-x: auto;
}

.data-grid-body {
    overflow: auto;
    max-height: 50vh;
}

.data-grid {
    min-width: 1450px;
    width: 100%;
}

.data-grid input[type="checkbox"] {
    height: 0.8em;
    width: 0.8em;
    box-sizing: border-box;
    margin-right: 1rem;
    font-size: 1.7rem;
    cursor: pointer;
}

/* thead */
.data-grid th {
    font-size: 1.2em;
    padding: 1rem;
    text-align: left;
    font-weight: bold;
}

.data-grid-head-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.data-grid th:first-child {
    width: 50px;
    text-align: center;
}

.data-grid > thead > tr {
    border-bottom: 3px solid;
}

/*  */
/* tbody */
.data-grid tr {
    border-bottom: 1px solid;
}

.data-grid > tbody > tr:hover {
    cursor: pointer;
    background-color: #ddd;
}

.data-grid td {
    font-size: 1.2em;
    padding: 1rem;
}

.data-grid td:first-child {
    width: 50px;
    text-align: center;
}



/* overlay */
.overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media queries */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .user-section-title-container
    {
        flex-direction: column;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    #logoNavbar
    {
        display: none;
    }

    #iconHamburger {
        display: block;
    }

    .user-section
    {
        width: 100%;
        box-sizing: border-box;
    }

    .nav {
        display: none;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
    }

    .navcard {
        width: 100%;
        margin-right: 0;
        height: 100px;
    }

    .user-section-title-container
    {
        flex-direction: column;
    }

    .filters-panel-container {
        flex-direction: column;
        width: 100%;
    }

    .filters-panel-container label {
        width: 100px;
    }

    .filters-panel-container select {
        box-sizing: border-box;
    }

    .filters-panel-item {
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .filters-panel-item label {
        margin-bottom: 1em;
        text-align: center;
    }

    .filters-panel-item input, select {
        margin: 0;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 576px) {
    #logoNavbar
    {
        display: none;
    }

    #iconHamburger {
        display: block;
    }

    .user-section
    {
        width: 100%;
        box-sizing: border-box;
    }

    .nav {
        display: none;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
    }

    .navcard {
        width: 100%;
        margin-right: 0;
        height: 100px;
    }

    .user-section-title-container
    {
        flex-direction: column;
        box-sizing: border-box;
    }

    .filters-panel-container {
        flex-direction: column;
        width: 100%;
    }

    .filters-panel-container label {
        width: 100px;
    }

    .filters-panel-container select {
        box-sizing: border-box;
    }

    .filters-panel-item {
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .filters-panel-item label {
        margin-bottom: 1em;
        text-align: center;
    }

    .filters-panel-item input, select {
        margin: 0;
        margin-bottom: 1em;
    }
}